@model WordFinder.Web.Models.WordsViewModel
@{    
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Index">
    <p>
        Letters: <input type="text" name="Letters" />
        <input type="submit" value="Search" />
    </p>
    @{
        if (Model != null)
        {
            <p>Words with '@ViewData["Letters"]' letters</p>
            foreach (var grp in Model.WordGroups.OrderByDescending(x => x.Title))
            {
                <p>@grp.Title</p>
                <p>@string.Join(", ", grp.Words.ToList());</p>
                <br />
            }
        }
    }
</form>