@model WordFinder.Web.Models.WordsViewModel
@{    
    ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Index" >
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Letters</span>
        <input type="text" class="form-control" name="Letters" autocomplete="off" 
                autofocus maxlength="10" min="2" placeholder="Letters">
        <input type="submit" value="Search" class="btn btn-dark" />
    </div>

    <p class="fw-lighter fst-italic" style="font-size:x-small">Mamimum 10 characters with one wildcard `*` character</p>

    @{
        if (Model != null)
        {
            <p style="color:royalblue; margin-bottom:20px">
                Words with '@Model.Letters' letters:
            </p>
            <div class="container-md">
                @foreach (var grp in Model.WordGroups.OrderByDescending(x => x.Title))
                {
                    <div class="card">
                        <div class="card-header">
                            @grp.Title
                        </div>
                        <div class="card-body">
                            @foreach (var word in grp.Words.OrderBy(x => x.Value))
                            {
                                <span style="display:inline; font-weight:lighter">
                                    @word.Value
                                </span>
                                <span style="display:inline; margin-top:10em; margin-right:15px; color:royalblue; font-size:x-small;">
                                    @word.Points
                                </span>
                            }
                        </div>
                    </div>                
                }
            </div>            
        }
    }
</form>