@page "/words"

<h3>Words</h3>
<div class="input-group">
    <span class="input-group-text">Letters</span>
    <input @ref="txt" class="form-control" type="text" placeholder="LETTERS" @bind="letters"></input>
</div>
<button class="btn btn-primary" @onclick="FindWords">Find Words</button>

@if (found)
{
    <p>@string.Join(",", words)</p>
}

@code {
    private string letters = string.Empty;
    private bool found = false;
    private string[] words = new string[] { "hello", "world" };
    private ElementReference txt;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await txt.FocusAsync();
    }

    private async Task FindWords()
    {
        //letters = txt.Context.ToString();
        if (!string.IsNullOrWhiteSpace(letters))
        {
            Console.WriteLine(letters);
            var _ = await WordFinder.Core.WordFinder.Find(letters);
            words = _.OrderByDescending(w => w.Length).Select(w => w.Value).ToArray();
            found = true;
        }
    }
}
